<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="digitech"/>
    <tx:annotation-driven/>
    <mvc:annotation-driven/>
    <mvc:resources mapping="/images/**" location="/images/"/>

    <!-- ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          name="viewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- DataSource -->
    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="ds">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/digitech"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>

    <!-- LocalSessionFactoryBean -->
    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="factory">
        <!-- DataSource -->
        <property name="dataSource" ref="ds"/>

        <!-- hibernate properties -->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

        <!-- entities -->
        <property name="annotatedClasses">
            <list>
                <value>digitech.model.ServiceDetails</value>
                <value>digitech.model.Service</value>
                <value>digitech.model.Training</value>
                <value>digitech.model.User</value>
                <value>digitech.model.Role</value>
                <value>digitech.model.Task</value>
                <value>digitech.model.Event</value>
            </list>
        </property>
    </bean>


    <!-- Hibernate Template -->
    <bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemplate">
        <property name="sessionFactory" ref="factory"/>
    </bean>

    <!-- Hibernate transactionManager -->
    <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
        <property name="sessionFactory" ref="factory"/>
    </bean>


</beans>